body {
    display: flex;
    flex-direction: column;
}

.container {
    position: relative;
    border: 1px solid lightgray;
    display: flex;
    width: auto;
    overflow: hidden;

}

.box1 {
    background-color: rgb(160, 160, 232);
    color: white;
    width: 30%;
    display: flex;
    flex-direction: column;


}

.enfant1-box1 {
   
  

}

.enfant2-box1 {
   

}

.enfant3-box1 {
   

}


.box2 {
    
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.enfant1-box2 {
    margin: 10px;
    border: 1px solid black;

}

.enfant2-box2 {
    margin: 0px;
    border: 1px solid rgb(43, 226, 195);

}

.enfant3-box2 {
    margin: 0px;
    border: 1px solid rgb(34, 0, 255);

}

.enfant4-box2 {
    margin: 0px;
    border: 1px solid rgb(234, 255, 0);

}

.enfant5-box2-buttons {
    margin: 0px;
    border: 3px solid rgba(91, 62, 221, 0.091);

}

.button1 {}

.button2 {}


img {
    width: 50%;
    height: auto;
    max-width: 20%;
    max-height: auto;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    z-index: 1;
}