body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    max-width: auto;
    height: 600px
}


.container{
    display: flex;
    flex-direction: row;
    justify-content: center ;
    border: 1px solid rgb(59, 147, 138);
    background-color:rgb(0, 234, 255);
    border-radius: 34px; 
    box-shadow: 0px 4px 6px 1px #494949;
    padding: 0px; 
}

.identite {  
   width: 200px;
   max-height: auto;
   background: linear-gradient(to right, rgb(0, 234, 255) 20%, white 40%);
   background-size: 100% 100%;
   margin: 0px 0px 0px 40px;
   position:relative;
} 

.visage{
    position: absolute; 
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%); 
    max-width: 100%; 
    border-radius: 5%;
    box-shadow: 0px 4px 6px 1px #494949;
}


.parcours{
    background-color:white;
    border-radius: 0px 34px 34px 0px;
    padding-left: 30px; 
}

.icone{
width: 10px;
height: 10px;
}

